@model ThiThuNet103.Models.Ca

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ca</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThucAn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThucAn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TapTinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TapTinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdcaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdcaNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
